.btn {
  padding: calc(1.375rem - 1px) calc(2rem - 1px);
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 600;
  border-radius: 1rem;

  & > span {
    position: relative;
  }

  &.btn-sm {
    padding: calc(0.75rem - 1px) calc(1.5rem - 1px);
    font-size: 0.9375rem;
    line-height: 1.2;
  }

  &.btn-arrow {
    padding-right: calc(4rem - 1px);

    & > span {
      &::after {
        position: absolute;
        content: "";
        width: 2.5rem;
        height: 2.5rem;
        right: calc(-1 * (2.5rem + 12px));
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: #fff;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &.btn-sm {
      padding-right: calc(3rem - 1px);

      & > span {
        &::after {
          width: 1.5rem;
          height: 1.5rem;
          right: calc(-1 * (1.5rem + 12px));
          background-size: 9px;
        }
      }
    }
  }

  &.btn-red {
    color: #fff;
    background-color: $color-red-1;

    &:hover {
      background-color: $color-red-2;
    }

    &:focus, &:active, &.active {
      color: #fff;
      border-color: transparent;
      background-color: $color-red-2;
    }

    &.btn-arrow {
      & > span {
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='17' height='14' viewBox='0 0 17 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1299 7.31487C16.477 6.96776 16.477 6.4049 16.1299 6.05779L10.473 0.400964C10.1259 0.0538375 9.56308 0.0538532 9.21597 0.400964C8.86886 0.748075 8.86884 1.31092 9.21597 1.65804L14.2443 6.68633L9.21597 11.7146C8.86884 12.0617 8.86886 12.6246 9.21597 12.9717C9.56308 13.3188 10.1259 13.3188 10.473 12.9717L16.1299 7.31487ZM0.390305 7.57521L15.5015 7.57524V5.79741L0.390305 5.79745V7.57521Z' fill='%23E84F35'/%3E%3C/svg%3E");
        }
      }
    }
  }

  &.btn-white {
    color: $color-blue-1;
    border-color: $color-gray-2;
    background-color: #fff;

    &:hover {
      background-color: $color-blue-5;
    }

    &:focus, &:active, &.active {
      color: $color-blue-1;
      border-color: $color-gray-2;
      background-color: $color-blue-5;
    }

    &.btn-arrow {
      & > span {
        &::after {
          background-color: $color-gray-1;
          background-image: url("data:image/svg+xml,%3Csvg width='17' height='14' viewBox='0 0 17 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1299 7.31487C16.477 6.96776 16.477 6.4049 16.1299 6.05779L10.473 0.400964C10.1259 0.0538375 9.56308 0.0538532 9.21597 0.400964C8.86886 0.748075 8.86884 1.31092 9.21597 1.65804L14.2443 6.68633L9.21597 11.7146C8.86884 12.0617 8.86886 12.6246 9.21597 12.9717C9.56308 13.3188 10.1259 13.3188 10.473 12.9717L16.1299 7.31487ZM0.390305 7.57521L15.5015 7.57524V5.79741L0.390305 5.79745V7.57521Z' fill='%237C9CAC'/%3E%3C/svg%3E");
        }
      }
    }
  }

  &.btn-blue {
    color: #fff;
    background-color: $color-blue-7;

    &:hover {
      background-color: $color-blue-1;
    }

    &:focus, &:active, &.active {
      color: #fff;
      border-color: transparent;
      background-color: $color-blue-1;
    }

    &.btn-arrow {
      & > span {
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='17' height='14' viewBox='0 0 17 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1299 7.31487C16.477 6.96776 16.477 6.4049 16.1299 6.05779L10.473 0.400964C10.1259 0.0538375 9.56308 0.0538532 9.21597 0.400964C8.86886 0.748075 8.86884 1.31092 9.21597 1.65804L14.2443 6.68633L9.21597 11.7146C8.86884 12.0617 8.86886 12.6246 9.21597 12.9717C9.56308 13.3188 10.1259 13.3188 10.473 12.9717L16.1299 7.31487ZM0.390305 7.57521L15.5015 7.57524V5.79741L0.390305 5.79745V7.57521Z' fill='%23001F4D'/%3E%3C/svg%3E");
        }
      }
    }
  }

  @include until($md) {
    padding: calc(0.875rem - 1px) calc(1rem - 1px);

    &.btn-arrow {
      padding-right: calc(3rem - 1px);
  
      & > span {
        &::after {
          width: 1.5rem;
          height: 1.5rem;
          right: calc(-1 * (1.5rem + 12px));
          background-size: 9px; 
        }
      }
    }
  }
}