@import '../abstracts/variables';
@import '../abstracts/mixins';

.about {
  padding-top: 10.125rem;

  .about-hero,
  .about-quality {
    h4, .h4 {
      font-weight: 600;
      line-height: 1.3;
    }
  }

  .page-section {
    margin-top: 9.375rem;
    margin-bottom: 9.375rem;

    &--bottom-short {
      margin-bottom: 5rem;
    }
  }

  .h1 {
    margin-bottom: 1.5rem;
    font-size: 3.25rem;
    line-height: 1;
    letter-spacing: 0.52px;
  }
}

.about-hero {
  h4, .h4 {
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    color: $color-blue-1;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.2px;
  }

  &__about-company {
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }
}

.about-results {
  p {
    color: $color-gray-1;
  }

  &__wrapper {
    padding: 2.5rem;
    border-radius: 2rem;
    background: linear-gradient(91deg, #E84F35 39.14%, #FF8F0C 98.92%);

    .row {
      --bs-gutter-x: 5rem;
    }
  }

  &__card-title {
    color: #ffffff;
  }
}

.about-quality {
  h2 {
    margin-bottom: 3.75rem;
  }

  p {
    color: $color-blue-1;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-gap: 24px;

    .item-01 {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }

    .item-02 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    .item-03 {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      display: flex;

      img {
        max-width: inherit;
        margin-left: 1rem;
      }
    }

    .item-04 {
      position: relative;
      grid-column: 2 / 3;
      grid-row: 2 / 4;

      img {
        position: absolute;
        bottom: 0;
        right: 32px;
      }
    }

    .item-05 {
      padding-bottom: 0;
      display: flex;
      align-items: center;
      grid-column: 1 / 3;
      grid-row: 4 / 5;

      img {
        margin-right: 3.75rem;
      }
    }
  }

  &__item {
    padding: 2rem;
    border-radius: 2rem;
    background-color: $color-gray-1;

    h4 {
      margin-bottom: 1rem;
    }
  }
}

.about-logo {
  &__wrapper {
    p {
      margin-bottom: 0;
      color: $color-blue-2;
      font-size: 1.25rem;
      line-height: 1.4;
      letter-spacing: 0.2px;
    }
  }

  &__icon {
    width: 107px;
    height: 32px;
    background-image: url(../../img/ipay-logo.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.about-commercial {
  h3 {
    margin-bottom: 3.75rem;
  }

  .row {
    --bs-gutter-x: 2.5rem;
  }

  &__card {
    height: 100%;
    text-align: center;

    img {
      border-radius: 2rem;
      margin-bottom: 1.5rem;
    }

    h5, .h5 {
      margin-bottom: 0.5rem;
      color: $color-blue-8;
      line-height: 1.3;
      font-weight: 600;
    }

    p {
      margin-bottom: 0;
      font-size: 1rem;
      line-height: 1.6;
    }
  }
}

.about-documents {
  h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .row {
    --bs-gutter-x: 1.875rem;
  }

  &__text {
    position: relative;
    margin-bottom: 1.5rem;
    margin-left: 2.25rem;

    &::before {
      display: inline-block;
      content: "";
      position: absolute;
      left: -24px;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 1.5rem;
      height: 1.5rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M21 7.49984L9 19.4998L3.5 13.9998L4.91 12.5898L9 16.6698L19.59 6.08984L21 7.49984Z' fill='%23324F64'/%3E%3C/svg%3E");
      background-size: 1.5rem;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__document {
    border-radius: 2rem;
    background-color: $color-gray-1;
    padding: 2rem;

    img {
      border-radius: 2rem;
    }
  }
}

@include until($xl) {
  .about-results {
    &__wrapper {
      .row {
        --bs-gutter-x: 3rem;
      }
    }
  }

  .about-commercial {
    .row {
      --bs-gutter-x: 1.5rem;
    }
  }
}

@include until($lg) {
  .about {
    padding-top: 8.875rem;

    .page-section {
      margin-top: 6.25rem;
      margin-bottom: 6.25rem;

      &--bottom-short {
        margin-bottom: 3.75rem;
      }
    }

    .h1 {
      margin-bottom: 2rem;
      font-size: 2.5rem;
      letter-spacing: 0.4px;
    }
  }

  .about-hero {
    &__subtitle {
      font-size: 1.125rem;
      line-height: 1.2;
      letter-spacing: 0.18px;
    }

    &__about-company {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      &:first-child {
        margin-top: 6.25rem;
      }
    }
  }

  .about-results {
    &__card--margin {
      margin: 4rem 0;
    }
  }

  .about-quality {
    h2 {
      margin-bottom: 2.5rem;
    }

    &__container {
      grid-template-columns: repeat(2, auto);

      .item-01 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;

        img {
          width: 200px;
        }
      }

      .item-02 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
      }

      .item-03 {
        display: flex;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        img {
          margin-left: 0;
        }
      }

      .item-04 {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
      }

      .item-05 {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
        padding-top: 1.5rem;

        img {
          align-self: flex-end;
        }
      }
    }
  }

  .about-logo {
    &__wrapper {
      margin: 0;

      p {
        font-size: 1.125rem;
        line-height: 1.2;
        letter-spacing: 0.18px;
      }
    }
  }

  .about-commercial {
    h3 {
      margin-bottom: 2.5rem;
      font-weight: 600;
    }

    &__card {
      h5, .h5 {
        margin-bottom: 0.5rem;
        font-size: 1.125rem;
        font-weight: 600;
      }

      p {
        font-size: 0.875rem;
      }
    }
  }

  .about-documents {
    h2 {
      font-size: 2.5rem;
    }

    &__document {
      padding: 4.3125rem;
    }
  }
}

@include until($md) {
  .about {
    padding-top: 8.375rem;

    .page-section {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }

    .h1 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
      letter-spacing: 0.32px;
    }
  }

  .about-hero,
  .about-quality,
  .about-documents {
    p {
      line-height: 1.6;
    }
  }

  .about-hero {
    &__subtitle {
      font-size: 1rem;
      font-weight: 500;
    }

    &__about-company {
      &:first-child {
        margin-top: 5rem;
      }
    }
  }

  .about-results {
    &__wrapper {
      padding: 1.5rem;
    }

    &__card--margin {
      margin: 2rem 0;
    }

    p {
      line-height: 1.6;
    }

    &__card-title {
      line-height: 1;
    }
  }

  .about-quality {
    h2 {
      margin-bottom: 2rem;
    }

    h4, .h4 {
      margin-bottom: 0.5rem;
    }

    &__item {
      padding: 1.5rem;
    }

    &__container {
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(5, auto);
      grid-gap: 16px;

      .item-01 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }

      .item-02 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }

      .item-03 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;

        img {
          margin-top: 0.5rem;
        }
      }

      .item-04 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
      }

      .item-05 {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding-bottom: 0;

        img {
          margin-right: 0;
          align-self: initial;
        }
      }
    }
  }

  .about-logo {
    &__wrapper {

      p {
        font-size: 1rem;
        letter-spacing: 0.16px;
      }
    }
  }

  .about-commercial {
    &__card {
      img {
        margin-bottom: 1rem;
        border-radius: 1.5rem;
      }

      h5, .h5 {
        font-size: 1rem;
      }
    }
  }

  .about-documents {
    h2 {
      font-size: 1.75rem;
      margin-bottom: 1.875rem;
    }

    &__text {
      margin-bottom: 1.5rem;
    }

    &__document {
      border-radius: 1.5rem;
      padding: 1rem;

      img {
        border-radius: 1.5rem;
      }
    }
  }
}
