@import '../abstracts/variables';
@import '../abstracts/mixins';

// hero
.page-hero {
  color: #ffffff;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: $color-blue-1;
  overflow: hidden;

  &__content {
    position: relative;
  }

  .page-hero__title {
    font-size: 3.25rem;
    line-height: 1;
    letter-spacing: 0.5px;
    color: #ffffff;
  }

  .page-hero__subtitle {
    margin-bottom: 2.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.01em;
  }

  &__images {
    position: relative;
    display: flex;
  }

  &.light {
    color: $color-blue-2;
    background-color: $color-gray-1;

    .page-hero__title {
      color: $color-blue-1;
    }
  }
}

// page section
.page-section {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;

  h2 {
    font-size: 2rem;
  }

  &__header {
    margin-bottom: 3.75rem;
  }

  &--top-short {
    margin-top: 5rem;
  }

  &--bottom-short {
    margin-bottom: 5rem;
  }

  &--dark {
    padding-top: 7.5rem;
    padding-bottom: 7.625rem;
    color: #ffffff;
    border-radius: 2rem;
    background-color: $color-blue-1;

    .page-section__header {
      color: #ffffff;

      h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
        color: #ffffff;
      }
    }
  }
}

// info section
.info-section {  
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
    }

    video {
      max-width: 554px;
      border-radius: 1.75rem;
    }

    &.bkgr-grey {
      padding: 4.3125rem 5.5rem;
      border-radius: 2rem;
      background-color: $color-gray-1;
    }

    &.img-shadow {
      img {
        filter: drop-shadow(0 40px 60px rgba(50, 50, 93, 0.1));
      }
    }

    // &.img-radius {
    //   img {
    //     border-radius: 1.5rem;
    //   }
    // }
  }

  &__content--pl {
    padding-left: 3.5rem;
  }

  &__content--pr {
    padding-right: 3.5rem;
  }
}

.info-video {
  position: relative;
  display: flex;

  &__button {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    border: 0;
    border-radius: 50%;
    appearance: none;
    transition: box-shadow 0.2s ease;
    z-index: 2;

    &:hover {
      box-shadow: 2px 2px 12px 0 rgba(232, 79, 53, 0.75);
    }
  }

  &__bkgr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.75rem;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

// frame card
.frame-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 24.6875rem;
  border-radius: 1.5rem;
  overflow: hidden;
  background-color: #ffffff;

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 14.1875rem;
    height: 14.1875rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__content {
    flex-basis: 0;
    flex-grow: 1;
    padding: 1.5rem 2rem;
    color: $color-blue-2;    
  }
}

// page methods
.page-methods {
  .frame-card {
    min-height: 33rem;
    border-radius: 2rem;

    &.page-methods__page {
      .frame-card__img {
        background-color: #9298CD;
      }
    }

    &.page-methods__app {
      .frame-card__img {
        align-items: flex-start;
        background-color: #B0C8EB;
      }
    }

    &__img {
      flex: 0 0 21.0625rem;
      height: 21.0625rem;
      padding-left: 3rem;
      padding-right: 3rem;
    }

    &__content {
      padding: 2.5rem 3rem;

      h4 {
        font-weight: 600;
        color: $color-black-1;
      }
    }
  }
}

// page more
.page-more {
  .page-section__header {
    h2 {
      margin-bottom: 1.5rem;
    }
  }

  .product-card {
    height: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}


// media queries
@include until($xl) {
  .page-hero {
    .page-hero__title {
      font-size: 2.5rem;
    }

    .page-hero__subtitle {
      font-size: 1.125rem;
      line-height: 1.2;
    }
  }

  .page-section {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  
    &__header {
      margin-bottom: 2.5rem;
    }
  
    &--top-short {
      margin-top: 3.75rem;
    }
  
    &--bottom-short {
      margin-bottom: 3.75rem;
    }
  }

  .info-section {
    &__img {
      text-align: center;

      &.bkgr-grey {
        padding: 2.9375rem 3.6875rem;
      }
    }

    &__content {
      margin-bottom: 3.75rem;
    }

    &__content--pl {
      padding-left: 0;
    }

    &__content--pr {
      padding-right: 0;
    }

    .info-section__title {
      font-weight: 600;
    }
  }

  .page-more {
    .page-section__header {
      h2 {
        font-weight: 600;
      }
    }
  }
}

@include until($lg) {
  .page-section {
    &--dark {
      padding-top: 3.75rem;
      padding-bottom: 3.75rem;
    }
  }

  .frame-card {
    min-height: auto;
  }

  .page-more {
    .page-section__header {
      margin-bottom: 2rem;
    }
  }
}

@include until($md) {
  .page-hero {
    .page-hero__title {
      font-size: 2rem;
    }

    .page-hero__subtitle {
      font-size: 1rem;
    }
  }

  .page-section {
    margin-top: 5rem;
    margin-bottom: 5rem;

    h2 {
      font-size: 1.5rem;
    }
  
    &__header {
      margin-bottom: 1.875rem;
    }

    &--dark {
      padding-top: 3rem;
      padding-bottom: 3rem;
      border-radius: 1.5rem;
    }

    &--top-short {
      margin-top: 3.75rem;
    }
  
    &--bottom-short {
      margin-bottom: 3.75rem;
    }
  }

  .info-section {
    &__content {
      margin-bottom: 2rem;
    }

    &__img {
      &.bkgr-grey {
        border-radius: 1.5rem;
      }
    }
  }

  .page-methods {
    .page-section__header {
      margin-bottom: 2rem;
    }

    .frame-card {
      min-height: auto;
      border-radius: 1.5rem;

      &.page-methods__page {
        .frame-card__img {
          padding: 1.3125rem;
        }
      }
  
      &.page-methods__app {
        .frame-card__img {
          align-items: flex-end;
        }
      }

      &__img {
        flex: 0 0 11.8125rem;
        height: 11.8125rem;
      }
  
      &__content {
        padding: 1.5rem;
      }
    }
  }
}
