// media query breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// fonts
$font-main: 'Inter', sans-serif;

// colors
$color-blue-1: #001535;
$color-blue-2: #324F64;
$color-blue-3: #7C9CAC;
$color-blue-4: #ACC5D2;
$color-blue-5: #DFEAEF;
$color-blue-6: #E5F2F8;
$color-blue-7: #001F4D;
$color-blue-8: #000F26;

$color-red-1: #E84F35;
$color-red-2: #E73D07;

$color-black-1: #17171C;

$color-gray-1: #F3F5F9;
$color-gray-2: #DFE8F8;
$color-gray-3: #D4DCEC;
$color-gray-4: #E6EBF4;

$color-linen-1: #FAF2EA;

$color-green-1: #72B01D;
$color-green-2: #3F7D20;