body {
  font-family: $font-main;
  font-weight: 500;
  color: $color-blue-2;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  line-height: 1.1;
  color: $color-blue-1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p, li, a {
  font-size: 1.125rem;
  line-height: 1.8;
}

@include until($xl) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  p, li, a {
    font-size: 1rem;
  }
}

.header-subtitle {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 700;
  color: $color-red-1;
}


@include until($xl) {
  .header-subtitle {
    font-size: 0.875rem;
  }
}

@include until($md) {
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  .header-subtitle {
    font-size: 0.75rem;
  }
}