.finance-systems .page-section {
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}
.finance-systems .page-section__header p {
  font-size: 1.25rem;
}
.finance-systems .page-section--top-short {
  margin-top: 5rem;
}
.finance-systems .page-section--bottom-short {
  margin-bottom: 5rem;
}
.finance-systems .page-section .info-card__text p {
  font-size: 1.125rem;
  line-height: 1.8;
}
.finance-systems .connect-widget__form {
  margin-top: 0;
}

.finance-systems-hero.page-hero {
  padding-top: 8.8125rem;
}
.finance-systems-hero.page-hero .page-hero__content {
  max-width: 520px;
  padding-top: 4.25rem;
}
.finance-systems-hero.page-hero .page-hero__subtitle {
  margin-bottom: 3.75rem;
}
.finance-systems-hero.page-hero .page-hero__images {
  padding-right: 3.25rem;
}

.finance-systems-info .info-section__content {
  padding-top: 1.75rem;
}

.finance-systems-offer .info-card {
  height: 100%;
  min-height: 22.5rem;
}
.finance-systems-offer .info-card__text p {
  color: #324F64;
}
.finance-systems-offer__card-last .info-card {
  min-height: 18.75rem;
}

.finance-systems-advantages .info-card {
  height: 100%;
  min-height: 18.75rem;
}

.finance-systems-solutions .info-card {
  height: 100%;
  min-height: 23.875rem;
  border: 1px solid #DFE8F8;
  background-color: #fff;
}
.finance-systems-solutions .info-card__link-icon {
  background-color: #F3F5F9;
}

.finance-systems-works .info-card {
  height: 100%;
  min-height: 32.4375rem;
  padding: calc(2rem - 1px);
  border: 1px solid #DFE8F8;
}
.finance-systems-works__icon {
  flex: 100%;
}

@media screen and (max-width: 1399.98px) {
  .finance-systems-hero.page-hero .page-hero__subtitle {
    margin-bottom: 2.5rem;
  }
  .finance-systems-hero.page-hero .page-hero__content {
    padding-top: 2.5rem;
  }
}
@media screen and (max-width: 1199.98px) {
  .finance-systems .page-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .finance-systems .page-section p {
    font-size: 1rem;
    line-height: 1.6;
  }
  .finance-systems .page-section--top-short {
    margin-top: 3.75rem;
  }
  .finance-systems .page-section--bottom-short {
    margin-bottom: 3.75rem;
  }
  .finance-systems .page-section .info-card h4, .finance-systems .page-section .info-card .h4 {
    font-size: 1.5rem;
  }
  .finance-systems .page-section .info-card__text p {
    font-size: 1.125rem;
    line-height: 1.8;
  }
  .finance-systems-hero.page-hero .page-hero__images {
    padding-right: 0;
  }
  .finance-systems-info .info-section__content {
    padding-top: 0;
  }
}
@media screen and (max-width: 991.98px) {
  .finance-systems-hero.page-hero {
    padding-top: 7.625rem;
  }
  .finance-systems-hero.page-hero .page-hero__content {
    padding-top: 0;
  }
  .finance-systems-hero.page-hero .page-hero__images {
    padding-top: 4.25rem;
  }
  .finance-systems-offer .info-card {
    min-height: auto;
  }
  .finance-systems-offer .info-card__link-icon {
    flex: 0 0 5rem;
    width: 5rem;
    height: 5rem;
  }
  .finance-systems-advantages .info-card {
    min-height: 21.875rem;
  }
  .finance-systems-solutions .info-card {
    min-height: auto;
  }
}
@media screen and (max-width: 767.98px) {
  .finance-systems .page-section .info-card h4, .finance-systems .page-section .info-card .h4 {
    font-size: 1.125rem;
  }
  .finance-systems .page-section .info-card__text p {
    font-size: 1rem;
    line-height: 1.6;
  }
  .finance-systems .page-section .info-card__link-icon {
    flex: 0 0 5rem;
    width: 5rem;
    height: 5rem;
  }
  .finance-systems-hero.page-hero .page-hero__content {
    padding-bottom: 3rem;
  }
  .finance-systems-hero.page-hero .page-hero__images {
    justify-content: center;
    padding-top: 0;
  }
  .finance-systems-offer .page-section__header {
    margin-bottom: 2.5rem;
  }
  .finance-systems-advantages .page-section__header h2, .finance-systems-advantages .page-section__header .h2 {
    font-size: 1.25rem;
  }
  .finance-systems-solutions .page-section__header h3, .finance-systems-solutions .page-section__header .h3 {
    font-size: 1.25rem;
  }
  .finance-systems-works .info-card {
    min-height: 25.375rem;
  }
}/*# sourceMappingURL=finance-systems-page.css.map */