html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 100%;
}

a {
  color: #E84F35;
  text-decoration: none;
}
a:hover {
  color: #E73D07;
}
a:focus {
  outline: none;
}

img {
  max-width: 100%;
  border: none;
}

ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

[type=button] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@media screen and (min-width: 1400px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: 1296px;
  }
}
.row > * {
  --bs-gutter-y: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #324F64;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  line-height: 1.1;
  color: #001535;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p, li, a {
  font-size: 1.125rem;
  line-height: 1.8;
}

@media screen and (max-width: 1199.98px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  p, li, a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 767.98px) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1.125rem;
  }
}
.color-basic {
  color: #324F64;
}

.color-title {
  color: #001535;
}

.color-red {
  color: #E84F35;
}

.btn {
  --bs-btn-padding-x: calc(2rem - 1px);
  --bs-btn-padding-y: calc(1.375rem - 1px);
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 600;
  --bs-btn-line-height: 1.25;
  --bs-btn-border-radius: 1rem;
}
.btn > span {
  position: relative;
}
.btn.btn-sm {
  --bs-btn-padding-x: calc(1.5rem - 1px);
  --bs-btn-padding-y: calc(0.75rem - 1px);
  --bs-btn-font-size: 0.9375rem;
  --bs-btn-line-height: 1.2;
}
.btn.btn-arrow {
  padding-right: calc(4rem - 1px);
}
.btn.btn-arrow > span::after {
  position: absolute;
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  right: calc(-1 * (2.5rem + 12px));
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
}
.btn.btn-arrow.btn-sm {
  padding-right: calc(3rem - 1px);
}
.btn.btn-arrow.btn-sm > span::after {
  width: 1.5rem;
  height: 1.5rem;
  right: calc(-1 * (1.5rem + 12px));
  background-size: 9px;
}
.btn.btn-red {
  color: #fff;
  background-color: #E84F35;
}
.btn.btn-red:hover {
  background-color: #E73D07;
}
.btn.btn-red:focus, .btn.btn-red:active, .btn.btn-red.active {
  color: #fff;
  border-color: transparent;
  background-color: #E73D07;
}
.btn.btn-red.btn-arrow > span::after {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='14' viewBox='0 0 17 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1299 7.31487C16.477 6.96776 16.477 6.4049 16.1299 6.05779L10.473 0.400964C10.1259 0.0538375 9.56308 0.0538532 9.21597 0.400964C8.86886 0.748075 8.86884 1.31092 9.21597 1.65804L14.2443 6.68633L9.21597 11.7146C8.86884 12.0617 8.86886 12.6246 9.21597 12.9717C9.56308 13.3188 10.1259 13.3188 10.473 12.9717L16.1299 7.31487ZM0.390305 7.57521L15.5015 7.57524V5.79741L0.390305 5.79745V7.57521Z' fill='%23E84F35'/%3E%3C/svg%3E");
}
.btn.btn-white {
  color: #001535;
  border-color: #DFE8F8;
  background-color: #fff;
}
.btn.btn-white:hover {
  background-color: #DFEAEF;
}
.btn.btn-white:focus, .btn.btn-white:active, .btn.btn-white.active {
  color: #001535;
  border-color: #DFE8F8;
  background-color: #DFEAEF;
}
.btn.btn-white.btn-arrow > span::after {
  background-color: #F3F5F9;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='14' viewBox='0 0 17 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1299 7.31487C16.477 6.96776 16.477 6.4049 16.1299 6.05779L10.473 0.400964C10.1259 0.0538375 9.56308 0.0538532 9.21597 0.400964C8.86886 0.748075 8.86884 1.31092 9.21597 1.65804L14.2443 6.68633L9.21597 11.7146C8.86884 12.0617 8.86886 12.6246 9.21597 12.9717C9.56308 13.3188 10.1259 13.3188 10.473 12.9717L16.1299 7.31487ZM0.390305 7.57521L15.5015 7.57524V5.79741L0.390305 5.79745V7.57521Z' fill='%237C9CAC'/%3E%3C/svg%3E");
}
.btn.btn-blue {
  color: #fff;
  background-color: #001F4D;
}
.btn.btn-blue:hover {
  background-color: #001535;
}
.btn.btn-blue:focus, .btn.btn-blue:active, .btn.btn-blue.active {
  color: #fff;
  border-color: transparent;
  background-color: #001535;
}
.btn.btn-blue.btn-arrow > span::after {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='14' viewBox='0 0 17 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1299 7.31487C16.477 6.96776 16.477 6.4049 16.1299 6.05779L10.473 0.400964C10.1259 0.0538375 9.56308 0.0538532 9.21597 0.400964C8.86886 0.748075 8.86884 1.31092 9.21597 1.65804L14.2443 6.68633L9.21597 11.7146C8.86884 12.0617 8.86886 12.6246 9.21597 12.9717C9.56308 13.3188 10.1259 13.3188 10.473 12.9717L16.1299 7.31487ZM0.390305 7.57521L15.5015 7.57524V5.79741L0.390305 5.79745V7.57521Z' fill='%23001F4D'/%3E%3C/svg%3E");
}
@media screen and (max-width: 767.98px) {
  .btn {
    padding: calc(0.875rem - 1px) calc(1rem - 1px);
  }
  .btn.btn-arrow {
    padding-right: calc(3rem - 1px);
  }
  .btn.btn-arrow > span::after {
    width: 1.5rem;
    height: 1.5rem;
    right: calc(-1 * (1.5rem + 12px));
    background-size: 9px;
  }
}

.form-group {
  position: relative;
  margin-bottom: 0.75rem;
}

.form-control {
  padding: 1.875rem calc(1.5rem - 1px) 0.625rem;
  font-size: 1.125rem;
  line-height: 1.2222222;
  font-weight: 400;
  color: #001535;
  border-color: #DFE8F8;
  border-radius: 1rem;
}
.form-control::-moz-placeholder {
  font-weight: 400;
  color: #7C9CAC;
}
.form-control::placeholder {
  font-weight: 400;
  color: #7C9CAC;
}
.form-control:focus {
  color: #001535;
  border-color: #DFE8F8;
  box-shadow: none;
}
.form-control ~ .form-label {
  position: absolute;
  top: 0.625rem;
  left: 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  line-height: 1.2;
  font-weight: 400;
  color: #001535;
}

.invalid-feedback {
  margin-top: 0;
  padding-left: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #E84F35;
}

textarea.form-control ~ .form-label {
  width: calc(100% - 3rem);
  top: 1px;
  padding-top: calc(0.625rem - 1px);
  padding-bottom: 4px;
  background-color: #fff;
}
textarea.form-control::-webkit-scrollbar-track {
  background-color: transparent;
}
textarea.form-control::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
textarea.form-control::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #DFE8F8;
}

.form-group.has-error .form-control {
  color: #E84F35;
  border-color: #E84F35;
}
.form-group.has-error .invalid-feedback {
  display: block;
  margin-top: 0.3125rem;
}

.dropdown-toggle::after {
  display: none;
}
.dropdown-toggle > span {
  vertical-align: middle;
}

.dropdown .dropdown-menu {
  --bs-dropdown-min-width: 380px;
  --bs-dropdown-padding-x: 2.5rem;
  --bs-dropdown-padding-y: 2.5rem;
  --bs-dropdown-border-width: 0;
  --bs-dropdown-border-radius: 2rem;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
}
.dropdown .dropdown-menu[data-popper-placement=bottom-start] {
  margin-top: 8px !important;
}
.dropdown .dropdown-menu[data-popper-placement=top-start] {
  margin-bottom: 8px !important;
}
.dropdown .dropdown-menu > li + li {
  margin-top: 0.75rem;
}
.dropdown .dropdown-item {
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  color: #001535;
}
.dropdown .dropdown-item:hover, .dropdown .dropdown-item:focus, .dropdown .dropdown-item:active {
  background-color: #F3F5F9;
}
@media screen and (max-width: 767.98px) {
  .dropdown .dropdown-menu {
    --bs-dropdown-min-width: 300px;
    --bs-dropdown-padding-x: 2rem;
    --bs-dropdown-padding-y: 1.5rem;
  }
}

.info-card {
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  border: 1px solid #DFE8F8;
  border-radius: 2rem;
}
.info-card__content {
  flex-grow: 1;
  padding-right: 2rem;
}
.info-card__content .info-card__content-title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 600;
  color: #17171C;
}
.info-card__content p {
  font-size: 1rem;
  line-height: 1.6;
}
.info-card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 5rem;
  width: 5rem;
  height: 5rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #F3F5F9;
}
.info-card__icon > [class^=icon-] {
  font-size: 1.5rem;
  color: #17171C;
}
@media screen and (max-width: 1199.98px) {
  .info-card {
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
  }
  .info-card__content .info-card__content-title {
    font-size: 1.25rem;
  }
  .info-card__content p {
    font-size: 0.875rem;
  }
  .info-card__icon {
    flex: 0 0 3.75rem;
    width: 3.75rem;
    height: 3.75rem;
  }
  .info-card__icon > [class^=icon-] {
    font-size: 1rem;
  }
  .info-card__icon > img {
    max-width: 2rem;
  }
}
@media screen and (max-width: 767.98px) {
  .info-card {
    padding: 1rem;
    border-radius: 1rem;
  }
  .info-card__content .info-card__content-title {
    font-size: 1.125rem;
  }
}

.modal.modal-main {
  --bs-modal-width: 768px;
  --bs-modal-border-width: 0;
  --bs-modal-border-radius: 2rem;
  --bs-modal-header-padding: 1.875rem 1.875rem;
  --bs-modal-header-border-width: 0;
  --bs-modal-title-line-height: 1.2;
  --bs-modal-padding: 1rem 6.75rem 6.25rem;
}
.modal.modal-main .modal-header .btn-close {
  --bs-btn-close-opacity: 1;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0 0 auto;
  padding: 0;
}
.modal.modal-main .modal-title {
  margin-bottom: 1.25rem;
  font-size: 2rem;
  color: #001535;
}
@media screen and (max-width: 767.98px) {
  .modal.modal-main {
    --bs-modal-border-radius: 1.5rem;
    --bs-modal-header-padding: 1.25rem 1.25rem 0.75rem;
    --bs-modal-padding: 0 1rem 3.5rem;
  }
  .modal.modal-main .modal-title {
    font-size: 1.5rem;
  }
  .modal.modal-main .btn {
    padding: calc(1.375rem - 1px) calc(2rem - 1px);
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-header, .main-footer {
  flex: 0 0 auto;
}

.main {
  flex-grow: 1;
}

.main-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #001535;
  z-index: 1002;
}

.header-nav {
  display: flex;
  align-items: center;
  padding-top: 1.3125rem;
  padding-bottom: 1.3125rem;
}

.main-nav {
  display: flex;
  list-style: none;
  margin-left: 2.5rem;
  margin-bottom: 0;
  padding-left: 0;
}
.main-nav__item + .main-nav__item {
  margin-left: 0.75rem;
}
.main-nav .main-nav__link {
  display: inline-block;
  padding: 0.5625rem 1rem;
  font-size: 0.9375rem;
  line-height: 1.2;
  font-weight: 600;
  color: #fff;
  border-radius: 1rem;
}
.main-nav .dropdown .main-nav__link {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem 0.375rem 1rem;
}
.main-nav .dropdown .main-nav__link[aria-expanded=true] {
  background-color: #001535;
}
.main-nav .dropdown .main-nav__link > span ~ svg {
  margin-left: 0.25rem;
}
.main-nav .dropdown .main-nav__services {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid #fff;
  border-radius: 1rem;
}
.main-nav .dropdown .main-nav__services > span {
  margin-left: 0.5rem;
}
.main-nav .dropdown .main-nav__services ~ .dropdown-menu {
  --bs-dropdown-min-width: 1272px;
  left: -147px !important;
  transform: none !important;
  margin-top: 2.875rem !important;
}
.main-nav .dropdown .main-nav__services ~ .dropdown-menu ul li {
  line-height: 1.2;
}
.main-nav .dropdown .main-nav__services ~ .dropdown-menu ul li + li {
  margin-top: 1.5rem;
}
.main-nav .dropdown .main-nav__services ~ .dropdown-menu ul a {
  display: block;
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 700;
  color: #001535;
}
.main-nav .dropdown .main-nav__services ~ .dropdown-menu ul a:hover, .main-nav .dropdown .main-nav__services ~ .dropdown-menu ul a:focus, .main-nav .dropdown .main-nav__services ~ .dropdown-menu ul a:active {
  background-color: #F3F5F9;
}
.main-nav .dropdown .main-nav__services ~ .dropdown-menu .dropdown-services-list a {
  margin-bottom: 0.5rem;
}
.main-nav .dropdown .main-nav__services ~ .dropdown-menu .dropdown-services-list a ~ span {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
  color: #7C9CAC;
}
.main-nav .dropdown .main-nav__services ~ .dropdown-menu .dropdown-services-info {
  position: relative;
  width: 280px;
  height: 100%;
  margin-left: 1rem;
  padding-left: 2.5rem;
}
.main-nav .dropdown .main-nav__services ~ .dropdown-menu .dropdown-services-info::before {
  position: absolute;
  content: "";
  top: -2.5rem;
  left: 0;
  height: calc(100% + 5rem);
  width: 0;
  border-left: 1px solid #7C9CAC;
}

.lang-nav {
  margin-left: auto;
  margin-right: 1.5rem;
}
.lang-nav .lang-nav__link {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem 0.375rem 1rem;
  font-size: 0.9375rem;
  line-height: 1.2;
  font-weight: 600;
  color: #fff;
  border-radius: 1rem;
}
.lang-nav .lang-nav__link[aria-expanded=true] {
  background-color: #001535;
}
.lang-nav .lang-nav__link > span ~ svg {
  margin-left: 0.25rem;
}
.lang-nav .lang-nav__link > span > svg {
  margin-bottom: 2px;
}
.lang-nav.dropdown .dropdown-menu {
  --bs-dropdown-min-width: 100%;
  --bs-dropdown-padding-x: 1.25rem;
  --bs-dropdown-padding-y: 1.25rem;
  --bs-dropdown-border-radius: 1.25rem;
}
.lang-nav .lang-nav__item {
  padding-left: 1.25rem;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 16px;
}
.lang-nav .lang-nav__item--ua {
  background-image: url("../img/icons/icon-ua.svg");
}
.lang-nav .lang-nav__item--en {
  background-image: url("../img/icons/icon-us.png");
}

.mobile-nav {
  display: none;
  margin-left: 1.5rem;
}
.mobile-nav__button, .mobile-nav .close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.625rem;
  height: 2.625rem;
  border: 1px solid #fff;
  border-radius: 1rem;
  background-color: transparent;
}

.mobile-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0 3rem 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: translateX(100%);
  transition: visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
  box-shadow: 20px 0px 50px rgba(45, 60, 90, 0.1);
  background-color: #fff;
  z-index: 1200;
}
.mobile-menu.show {
  visibility: visible;
  transform: translateX(0);
}
.mobile-menu__header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: white;
}
.mobile-menu__header .close {
  border-color: #001535;
}
.mobile-menu__main {
  padding: 1rem 1.5rem 0;
}
.mobile-menu__main .mobile-menu__main-title {
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.3333333;
  color: #001535;
}
.mobile-menu__list li {
  margin-bottom: 1.5rem;
}
.mobile-menu__list li a {
  display: block;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.2;
  color: #001535;
}
.mobile-menu__collapse {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  border-top: 1px solid #7C9CAC;
}
.mobile-menu__collapse:last-of-type {
  border-bottom: 1px solid #7C9CAC;
}
.mobile-menu__collapse .mobile-menu__collapse-title {
  display: block;
  position: relative;
  padding: 1rem 1.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.3333333;
  color: #001535;
}
.mobile-menu__collapse .mobile-menu__collapse-title::after {
  position: absolute;
  content: "";
  top: 1rem;
  right: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.16602 9.62891L11.9996 15.4625' stroke='%237C9CAC' stroke-width='0.958333' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 15.4629L17.8336 9.62928' stroke='%237C9CAC' stroke-width='0.958333' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.2s ease-in-out;
}
.mobile-menu__collapse .mobile-menu__collapse-title[aria-expanded=true]::after {
  transform: rotate(180deg);
}
.mobile-menu__lang {
  display: flex;
  margin-top: 2rem;
  padding-left: 1.5rem;
}
.mobile-menu__lang li + li {
  margin-left: 0.75rem;
}
.mobile-menu__lang .mobile-menu__lang-item {
  display: block;
  padding-left: 1.75rem;
  font-size: 0.9375rem;
  line-height: 1.2;
  font-weight: 600;
  color: #001535;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 16px;
}
.mobile-menu__lang .mobile-menu__lang-item--ua {
  background-image: url("../img/icons/icon-ua.svg");
}
.mobile-menu__lang .mobile-menu__lang-item--en {
  background-image: url("../img/icons/icon-us.png");
}
.mobile-menu__lang .mobile-menu__lang-item--ru {
  padding-left: 0;
}

@media screen and (max-width: 1399.98px) {
  .main-nav .dropdown .main-nav__services ~ .dropdown-menu {
    --bs-dropdown-min-width: 1116px;
  }
}
@media screen and (max-width: 1199.98px) {
  .main-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}
@media screen and (max-width: 767.98px) {
  .lang-nav {
    display: none;
  }
  .login-nav {
    margin-left: auto;
  }
  .mobile-menu {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .mobile-menu__header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .mobile-menu__main {
    padding: 0.625rem 0 0;
  }
  .mobile-menu__lang {
    padding-left: 0;
  }
}
.main-footer__cards {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background: linear-gradient(to right, #72B01D, #72B01D 50%, #3F7D20 50%, #3F7D20 100%);
}
.main-footer__body {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: #001535;
}
.main-footer__copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #7C9CAC;
  background-color: #000F26;
}
.main-footer__copyright .main-footer__copyright-text {
  font-size: 0.75rem;
  line-height: 1.2;
  font-weight: 400;
}

.footer-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  color: #fff;
  line-height: 1.2;
}
.footer-card--left {
  padding-right: 3rem;
}
.footer-card--right {
  padding-left: 3rem;
}
.footer-card__header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.footer-card__header-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 2.75rem;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  background-color: #fff;
}
.footer-card__header-icon i {
  font-size: 1.5rem;
  color: #000;
}
.footer-card__header .footer-card__header-title {
  padding-left: 1rem;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.2px;
}
.footer-card .footer-card__content {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.footer-list {
  color: #fff;
}
.footer-list + .footer-list {
  margin-top: 2.5rem;
}
.footer-list .footer-list__title {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 700;
}
.footer-list p, .footer-list li, .footer-list a {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
}
.footer-list ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.footer-list ul li + li {
  margin-top: 0.75rem;
}
.footer-list a:hover {
  color: #DFEAEF;
}
.footer-list--bold p, .footer-list--bold li, .footer-list--bold a {
  font-weight: 500;
}
.footer-list .footer-list__phone {
  font-size: 1.875rem;
}
.footer-list .footer-list__item-social {
  position: relative;
  padding-left: 2rem;
}
.footer-list .footer-list__item-social i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.25rem;
}

@media screen and (max-width: 1199.98px) {
  .footer-list .footer-list__phone {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 991.98px) {
  .footer-card {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .footer-card--left {
    padding-right: 1.25rem;
  }
  .footer-card--right {
    padding-left: 1.25rem;
  }
  .footer-list .footer-list__phone {
    font-size: 1.875rem;
  }
  .footer-list--products, .footer-list--solutions {
    margin-top: 2.5rem;
  }
}
@media screen and (max-width: 767.98px) {
  .main-footer__cards {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background: linear-gradient(to bottom, #72B01D, #72B01D 50%, #3F7D20 50%, #3F7D20 100%);
  }
  .main-footer__cards-left {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }
  .main-footer__body {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .footer-card {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .footer-card--left {
    padding-right: 0rem;
  }
  .footer-card--right {
    padding-left: 0rem;
  }
}
@media screen and (max-width: 575.98px) {
  .main-footer__cards {
    background: none;
  }
  .main-footer__cards-left {
    background-color: #72B01D;
  }
  .main-footer__cards-right {
    background-color: #3F7D20;
  }
}/*# sourceMappingURL=main.css.map */